
<h1>Свойства комнат</h1>

<hr />

<table>
    <thead>
        <tr>
            <td>Номер</td>
            <td>Наименование</td>
            <td>Дата создания</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Наименование</td>
            <td>@DateTime.Now</td>
        </tr>
    </tbody>
</table>
<hr />

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
    Добавить свойство
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Свойство комнаты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="RoomProperties" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="text" name="NameProperties"
                               class="form-control" />
                        <br />
                        <input type="text" name="Description"
                               class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>